.container {
    display: grid;

    height: 325px;
    width: 200px;

    grid-template-rows: repeat(5, [col-start] min-content [col-end]);
}

.row {
    display: grid;
    grid-template-columns: repeat(4, [col-start] min-content [col-end]);
}

.outputContainer {
    display: grid;
    height: 75px;
    width: 200px;

    grid-template-rows: repeat(2, [col-start] min-content [col-end]);
}

.outputText {
    font-size: xx-large;
}

.lastValueContainer {
    display: grid;
    height: 75px;

    grid-template-columns: repeat(2, [col-start] min-content [col-end]);

    align-self: end;
}

.lastValueText {
    width: 180px;
    font-size: medium;
    opacity: .5;
}

.operatorText {
    font-size: x-large;
}

button {
    height: 50px;
    width: 50px;
}

button.clearButton {
    width: 150px;
}